<a href="https://colab.research.google.com/github/arthireddy14/Numpy/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import pandas as pd
import numpy as np
a_list=[2,4,5,6,8,9]
ser=pd.Series(a_list,index=['1st','2nd','3rd','4th','5th','6th'])
print(ser)

1st    2
2nd    4
3rd    5
4th    6
5th    8
6th    9
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
a_dict={'1st':1,'2nd':5,'3rd':10,'4th':12}
ser=pd.Series(a_dict)
print(ser)

1st     1
2nd     5
3rd    10
4th    12
dtype: int64

🎯 Your Task:
Using Pandas Series, perform the following:

✅ Create a Series named scores using the dictionary student_scores.

✅ Print the marks scored by "Charlie" and "Eva".

✅ Add 5 bonus marks to all students and print the updated Series.

✅ Display only the students who scored above 90 after the bonus.

✅ Calculate and print the average marks of the class (after the bonus).

In [5]:
student_scores={
    'Alice':85,
    'Bob':90,
    'Charlie':95,
    'Eva':99,
    'Minnu':80
}
scores=pd.Series(student_scores)
print(scores)
print("Charlie's score ",scores['Charlie'])
print("Eva score ",scores['Eva'])
scores+=5
print("Scores after \n",scores)
above_90=scores[scores>90]
print("Student with score greater than 90 are\n",above_90)
avg=scores.mean()
print("Average marks after bonus ",avg)

Alice      85
Bob        90
Charlie    95
Eva        99
Minnu      80
dtype: int64
Charlie's score  95
Eva score  99
Scores after
 Alice       90
Bob         95
Charlie    100
Eva        104
Minnu       85
dtype: int64
Student with score greater than 90 are
 Bob         95
Charlie    100
Eva        104
dtype: int64
Average marks after bonus  94.8

In [9]:
an_array=np.array([[25,85],[25,90],[26,70],[24,80]])
ser=pd.DataFrame(an_array,index=['Roshan','Pramila','Geetha','Hamsini'],columns=['age','marks'])
print(ser)
#only for values
print("For only values\n",ser.values)
print("For ony indexes\n",ser.index)

         age  marks
Roshan    25     85
Pramila   25     90
Geetha    26     70
Hamsini   24     80
For only values
 [[25 85]
 [25 90]
 [26 70]
 [24 80]]
For ony indexes
 Index(['Roshan', 'Pramila', 'Geetha', 'Hamsini'], dtype='object')

Dataframe using dictionary

In [8]:
a_dict={'Name':{'Ra':'Rahul','Pr':'Prashanthi','Go':'Gourav','Ha':'Hasini'},'Age':{'Ra':25,'Pr':25,'Go':26,'Ha':24},'Marks':{'Ra':85,'Pr':90,'Go':70,'Ha':80}}
df=pd.DataFrame(a_dict)
print(df)

          Name  Age  Marks
Ra       Rahul   25     85
Pr  Prashanthi   25     90
Go      Gourav   26     70
Ha      Hasini   24     80

Using list and dictionary

In [10]:
import pandas as pd
a_dict={'Name':['Ruskshan','Prasad','Gihat','Hansma'],'Age':[25,25,26,24],'Marks':[85,90,70,80]}
ser=pd.DataFrame(a_dict)
ser

       Name  Age  Marks
0  Ruskshan   25     85
1    Prasad   25     90
2     Gihat   26     70
3    Hansma   24     80

In [11]:
df.values

array([['Rahul', 25, 85],
       ['Prashanthi', 25, 90],
       ['Gourav', 26, 70],
       ['Hasini', 24, 80]], dtype=object)

You are given three Series representing student data:

Names of students

Their ages

Their marks

These series are combined into a DataFrame as shown earlier.

🎯 Your Task:
Using the existing DataFrame, perform the following operations:

✅ Print the details (name, age, marks) of the student who scored the highest marks.

✅ Add a new student "Tharushi" with age 23 and marks 88 using the index "Th".

✅ Display the details of students who are 25 years old or older.

✅ Increase the marks of students below 80 by 10 bonus points.

✅ Calculate and print the average marks of all students after the bonus.

In [34]:
names = pd.Series({'Ru':'Ruskshan','Pr':'Prasad','Gi':'Gihat','Ha':'Hansma'})
ages = pd.Series({'Ru':25,'Pr':25,'Gi':26,'Ha':24})
marks = pd.Series({'Ru':85,'Pr':90,'Gi':70,'Ha':80})

df = pd.DataFrame({'Name': names, 'Age': ages, 'Marks': marks})
print(df[df['Marks'] == df['Marks'].max()])
df.loc['Th'] = ['Tharushi', 23, 88]
print(df[df['Age'] >= 25])
df.loc[df['Marks'] < 80, 'Marks'] += 10
print(df['Marks'].mean())

      Name  Age  Marks
Pr  Prasad   25     90
        Name  Age  Marks
Ru  Ruskshan   25     85
Pr    Prasad   25     90
Gi     Gihat   26     70
84.6

using dictionary of series

In [33]:
ser1=pd.Series(['Roshan','Prashanthi','Gourav','Hasini'],index=['Ro','Pr','Go','Ha'])
ser2=pd.Series([25,25,26,24],index=['Ro','Pr','Go','Ha'])
ser3=pd.Series([80,90,70,60],index=['Ro','Pr','Go','Ha'])
a_dict={'Name':ser1,
        'Age':ser2,
        'Marks':ser3}
df=pd.DataFrame(a_dict)
df

          Name  Age  Marks
Ro      Roshan   25     80
Pr  Prashanthi   25     90
Go      Gourav   26     70
Ha      Hasini   24     60

Data set Link: https://www.kaggle.com/datasets/vijayuv/onlineretail

“E-Commerce Transaction Analytics” (Using Online Retail Dataset)
🎯 Scenario / Story

You are a data analyst at ShopWave, an e-commerce platform in the UK. ShopWave logs every transaction (order) made in their store. Each record has:

Invoice number

Stock code / product ID

Description

Quantity

Invoice date

Unit price

Customer ID

Country

Your manager wants you to clean the data, fix inconsistencies, derive business metrics, and explore relationships. The cleaned data should enable deeper dashboards later.

Tasks & Steps

Below is a full pipeline of tasks that students should perform. Each task corresponds to one or more of the functions/techniques you already taught.

Load & Inspect

Read the CSV (e.g. OnlineRetail.csv)

Display head(), tail(), info(), shape

Check dtypes

Missing Data Handling

Use isnull().sum() to find missing values (e.g. some Description or Customer ID missing)

Drop rows that have missing Customer ID (because you can’t tie to a customer)

Fill missing Description or other columns using a placeholder (e.g. "Unknown")

Date Parsing / Format Correction The InvoiceDate column might be string. Convert using pd.to_datetime(..., format='mixed')

Drop records where parsing failed (if any) Detect & Fix Bad or Outlier

Some transactions might have negative quantity (returns) — detect those and decide whether to treat as returns or drop Some unit prices might be zero or negative — fix/clean these (e.g. drop or adjust)

Duplicates

Use duplicated() to find duplicated invoice-item entries Drop

In [13]:
path = '/content/OnlineRetail.csv'
df = pd.read_csv(path, on_bad_lines='skip')

In [14]:
print("First 5 rows ",df.head())

First 5 rows    InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [15]:
print("Last 5 rows ",df.tail())

Last 5 rows        InvoiceNo StockCode               Description  Quantity  \
37304    539456    85135C  RED DRAGONFLY HELICOPTER         2
37305    539456     22095      LADS ONLY TISSUE BOX         1
37306    539456   15056BL   EDWARDIAN PARASOL BLACK         1
37307    539456     20679     EDWARDIAN PARASOL RED         1
37308    539456    85136A   YELLOW SHARK HELICOPTER         1

            InvoiceDate  UnitPrice  CustomerID         Country
37304  12/17/2010 17:23       7.95     16885.0  United Kingdom
37305  12/17/2010 17:23       1.25     16885.0  United Kingdom
37306  12/17/2010 17:23       5.95     16885.0  United Kingdom
37307  12/17/2010 17:23       5.95     16885.0  United Kingdom
37308          12/17/20        NaN         NaN             NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37309 entries, 0 to 37308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    37309 non-null  object
 1   StockCode    37309 non-null  object
 2   Description  37192 non-null  object
 3   Quantity     37309 non-null  int64
 4   InvoiceDate  37309 non-null  object
 5   UnitPrice    37308 non-null  float64
 6   CustomerID   24429 non-null  float64
 7   Country      37308 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.3+ MB

In [17]:
df.shape

(37309, 8)

In [18]:
df.isnull().sum()

InvoiceNo          0
StockCode          0
Description      117
Quantity           0
InvoiceDate        0
UnitPrice          1
CustomerID     12880
Country            1
dtype: int64

In [19]:
df=df.dropna(subset=['CustomerID'])
df['Description'] = df['Description'].fillna('Unknown')
print(df.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [20]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'],errors='coerce')
df=df.dropna(subset=['InvoiceDate'])
print(df['InvoiceDate'].dtype)

datetime64[ns]

In [21]:
negative_qty = df[df['Quantity'] < 0]
print(negative_qty.head())
df = df[df['UnitPrice'] > 0]

    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

            InvoiceDate  UnitPrice  CustomerID         Country
141 2010-12-01 09:41:00      27.50     14527.0  United Kingdom
154 2010-12-01 09:49:00       4.65     15311.0  United Kingdom
235 2010-12-01 10:24:00       1.65     17548.0  United Kingdom
236 2010-12-01 10:24:00       0.29     17548.0  United Kingdom
237 2010-12-01 10:24:00       0.29     17548.0  United Kingdom

In [22]:
duplicates = df.duplicated(subset=['InvoiceNo', 'StockCode'])
print("Number of duplicates:", duplicates.sum())

df = df.drop_duplicates(subset=['InvoiceNo', 'StockCode'])

Number of duplicates: 830

In [23]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [24]:
# Top 10 products by revenue
top_products = df.groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)
print(top_products)

# Top 10 customers by revenue
top_customers = df.groupby('CustomerID')['Revenue'].sum().sort_values(ascending=False).head(10)
print(top_customers)

# Revenue by country
revenue_country = df.groupby('Country')['Revenue'].sum().sort_values(ascending=False)
print(revenue_country.head(10))

Description
REGENCY CAKESTAND 3 TIER              15743.40
WHITE HANGING HEART T-LIGHT HOLDER     7647.45
VINTAGE UNION JACK MEMOBOARD           6898.69
WOOD BLACK BOARD ANT WHITE FINISH      6556.23
BLACK RECORD COVER FRAME               6011.10
CHILLI LIGHTS                          5833.94
CREAM HEART CARD HOLDER                5449.68
BLACK HEART CARD HOLDER                5106.44
ROUND SNACK BOXES SET OF 4 FRUITS      4713.95
PAPER CHAIN KIT 50'S CHRISTMAS         4349.90
Name: Revenue, dtype: float64
CustomerID
18102.0    27834.61
15061.0    19950.66
16029.0    12395.52
16210.0     7000.64
13777.0     6798.16
17511.0     6634.76
14911.0     6054.19
13089.0     5953.21
17850.0     5391.21
12748.0     3984.51
Name: Revenue, dtype: float64
Country
United Kingdom    443213.85
Germany            12391.66
France              7872.49
Japan               7705.07
EIRE                7122.63
Norway              3787.12
Sweden              2646.30
Portugal            2380.12
Spain               1843.73
Lithuania           1661.06
Name: Revenue, dtype: float64

In [25]:
# Orders with revenue > 1000
high_revenue = df[df['Revenue'] > 1000]
print(high_revenue.head())

# Orders in UK only
uk_orders = df.query("Country == 'United Kingdom'")
print(uk_orders.head())

# Orders with quantity between 5 and 20
qty_filter = df[df['Quantity'].between(5, 20)]
print(qty_filter.head())

     InvoiceNo StockCode                     Description  Quantity  \
870     536477     21137        BLACK RECORD COVER FRAME       480
2364    536584    84029E  RED WOOLLY HOTTIE WHITE HEART.       384
4505    536785     22423        REGENCY CAKESTAND 3 TIER       144
4850    536809     84950  ASSORTED COLOUR T-LIGHT HOLDER      1824
4946    536830     21915          RED  HARMONICA IN BOX       1400

             InvoiceDate  UnitPrice  CustomerID         Country  Revenue
870  2010-12-01 12:27:00       3.39     16210.0  United Kingdom   1627.2
2364 2010-12-01 16:22:00       2.95     13777.0  United Kingdom   1132.8
4505 2010-12-02 15:22:00      10.95     15061.0  United Kingdom   1576.8
4850 2010-12-02 16:48:00       0.55     15299.0  United Kingdom   1003.2
4946 2010-12-02 17:38:00       1.06     16754.0  United Kingdom   1484.0
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Revenue
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom    15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom    22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Revenue
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom    15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom    22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34

In [26]:
high_q=df[df['Quantity']>1000]
df['Revenue'] = df['Quantity'] * df['UnitPrice']
sorted_df = df.sort_values(by='Revenue', ascending=False)
print(high_q.head())
print(sorted_df.head())

      InvoiceNo StockCode                        Description  Quantity  \
4850     536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
4945     536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
4946     536830     21915             RED  HARMONICA IN BOX       1400
6365     536890    17084R              ASSORTED INCENSE PACK      1440
16435    537659     22189            CREAM HEART CARD HOLDER      1008

              InvoiceDate  UnitPrice  CustomerID         Country  Revenue
4850  2010-12-02 16:48:00       0.55     15299.0  United Kingdom  1003.20
4945  2010-12-02 17:38:00       0.18     16754.0  United Kingdom   518.40
4946  2010-12-02 17:38:00       1.06     16754.0  United Kingdom  1484.00
6365  2010-12-03 11:48:00       0.16     14156.0            EIRE   230.40
16435 2010-12-07 16:43:00       2.31     18102.0  United Kingdom  2328.48
      InvoiceNo StockCode                         Description  Quantity  \
16438    537659     21623        VINTAGE UNION JACK MEMOBOARD       600
19871    537899     22328  ROUND SNACK BOXES SET OF 4 FRUITS       1488
23263    538191     22423            REGENCY CAKESTAND 3 TIER       272
16440    537659     82484   WOOD BLACK BOARD ANT WHITE FINISH       600
16429    537657     21623        VINTAGE UNION JACK MEMOBOARD       408

              InvoiceDate  UnitPrice  CustomerID         Country  Revenue
16438 2010-12-07 16:43:00       6.38     18102.0  United Kingdom  3828.00
19871 2010-12-09 10:44:00       2.55     12755.0           Japan  3794.40
23263 2010-12-10 10:49:00      10.95     15061.0  United Kingdom  2978.40
16440 2010-12-07 16:43:00       4.78     18102.0  United Kingdom  2868.00
16429 2010-12-07 16:42:00       6.38     18102.0  United Kingdom  2603.04

In [28]:
product_info = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B'],
    'Category': ['Home', 'Electronics', 'Toys'],
    'Supplier': ['Supplier1', 'Supplier2', 'Supplier3']
})
df = df.merge(product_info, on='StockCode', how='left')

In [29]:
country_group=df.groupby('Country').agg(
    Total_Revenue=('Revenue','sum'),
    Mean_Revenue=('Revenue','mean'),
    order_count=('InvoiceNo','nunique')
).sort_values(by='Total_Revenue',ascending=False)
print(country_group.head())

                Total_Revenue  Mean_Revenue  order_count
Country
United Kingdom      443213.85     20.372965         1414
Germany              12391.66     28.486575           37
France                7872.49     21.392636           19
Japan                 7705.07    118.539538            3
EIRE                  7122.63     25.529140           14

In [30]:
bins = [0, 5, 20, np.inf]
labels = ['Cheap', 'Medium', 'Expensive']
df['Price_Range'] = pd.cut(df['UnitPrice'], bins=bins, labels=labels)
price_group = df.groupby('Price_Range').agg(
    Purchases=('InvoiceNo', 'count'),
    Avg_Revenue=('Revenue', 'mean')
)
print(price_group)

             Purchases  Avg_Revenue
Price_Range
Cheap            20305    19.106528
Medium            3211    31.334675
Expensive           81   120.726420

/tmp/ipython-input-2622878853.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_group = df.groupby('Price_Range').agg(

In [31]:
# Rename columns
df.rename(columns={'StockCode':'Product_ID', 'UnitPrice':'Price'}, inplace=True)
# String operations on Description
df['Description_lower'] = df['Description'].str.lower()
# Filter products containing 'glass'
glass_products = df[df['Description_lower'].str.contains('glass')]
print(glass_products.head())

    InvoiceNo Product_ID                        Description  Quantity  \
6      536365      21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
64     536373      21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
81     536375      21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
137    536381      22778                 GLASS CLOCHE SMALL         3
147    536382      22798   ANTIQUE GLASS DRESSING TABLE POT         8

            InvoiceDate  Price  CustomerID         Country  Revenue  \
6   2010-12-01 08:26:00   4.25     17850.0  United Kingdom    25.50
64  2010-12-01 09:02:00   4.25     17850.0  United Kingdom    25.50
81  2010-12-01 09:32:00   4.25     17850.0  United Kingdom    25.50
137 2010-12-01 09:41:00   3.95     15311.0  United Kingdom    11.85
147 2010-12-01 09:45:00   2.95     16098.0  United Kingdom    23.60

    Category_x Supplier_x Category_y Supplier_y Price_Range  \
6          NaN        NaN        NaN        NaN       Cheap
64         NaN        NaN        NaN        NaN       Cheap
81         NaN        NaN        NaN        NaN       Cheap
137        NaN        NaN        NaN        NaN       Cheap
147        NaN        NaN        NaN        NaN       Cheap

                     Description_lower
6    glass star frosted t-light holder
64   glass star frosted t-light holder
81   glass star frosted t-light holder
137                 glass cloche small
147   antique glass dressing table pot

In [32]:
import pandas as pd
df = pd.read_csv("OnlineRetail.csv", encoding='ISO-8859-1', on_bad_lines='skip')
print(df.head())

# Create Revenue column
df['Revenue'] = df['Quantity'] * df['UnitPrice']

# Descriptive Statistics
print(df.describe())
print(df['Country'].value_counts())

# Advanced Filtering
high_revenue = df.query("Revenue > 1000 and Country == 'Germany'")
print(high_revenue.head())

quantity_range = df[df['Quantity'].between(10, 100)]
print(quantity_range.head())

# Export Cleaned Data
df.to_csv("Cleaned_OnlineRetail.csv", index=False)
df.to_excel("Cleaned_OnlineRetail.xlsx", index=False)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
            Quantity      UnitPrice     CustomerID        Revenue
count  486624.000000  486623.000000  367486.000000  486623.000000
mean        9.686686       4.617348   15283.136743      18.167570
std       159.871639      96.860577    1712.115838     204.311458
min    -74215.000000  -11062.060000   12346.000000  -77183.600000
25%         1.000000       1.250000   13936.000000       3.750000
50%         3.000000       2.080000   15152.000000       9.900000
75%        10.000000       4.130000   16780.000000      17.700000
max     74215.000000   38970.000000   18287.000000   77183.600000
Country
United Kingdom          443528
Germany                   8751
France                    7732
EIRE                      7560
Spain                     2418
Netherlands               2208
Switzerland               1964
Belgium                   1941
Portugal                  1342
Australia                 1251
Norway                     896
Italy                      751
Channel Islands            750
Finland                    644
Cyprus                     618
Sweden                     453
Unspecified                412
Austria                    394
Denmark                    351
Japan                      349
Poland                     341
Israel                     297
Hong Kong                  288
USA                        248
Singapore                  229
Iceland                    171
Canada                     151
Malta                      117
Greece                     110
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64
Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Revenue]
Index: []
   InvoiceNo StockCode                      Description  Quantity  \
9     536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26    536370     22728        ALARM CLOCK BAKELIKE PINK        24
27    536370     22727        ALARM CLOCK BAKELIKE RED         24
28    536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29    536370     21724  PANDA AND BUNNIES STICKER SHEET        12

       InvoiceDate  UnitPrice  CustomerID         Country  Revenue
9   12/1/2010 8:34       1.69     13047.0  United Kingdom    54.08
26  12/1/2010 8:45       3.75     12583.0          France    90.00
27  12/1/2010 8:45       3.75     12583.0          France    90.00
28  12/1/2010 8:45       3.75     12583.0          France    45.00
29  12/1/2010 8:45       0.85     12583.0          France    10.20